@using TestMVC.Models
@model Film

@{
    ViewBag.Title = "Film Details";
}

<h2>Film Details</h2>

<div>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Director</dt>
        <dd>@Model.Director</dd>

        <dt>Release Day</dt>
        <dd>@Model.Release.ToShortDateString()</dd>
    </dl>
    <h4>Categories:</h4>
    <ul>
        @foreach(var category in Model.Categories)
        {
            <li>@category.Category.Name</li>
        }
    </ul>

    
</div>